<a href="https://colab.research.google.com/github/Pritiathawale/01-project/blob/main/flow_control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

//Easy

In [ ]:
print(True and True)

True

In [ ]:
print(( 1 > 2 ) and ( 55 < 54))

False

In [ ]:
print(( 55 / 2 ) and True)

True

In [ ]:
print(not( 10 > 5 ))

False

In [ ]:
net_worth=int(input("Enter the net worth of Mark Zuckerberg : "))

if(net_worth == 54500000000):
  print("That's 54.5 billion!")
elif(net_worth < 54500000000):
  print("That's not much!")
elif(net_worth > 54500000000):
  print("I'll make more when I graduate")

Enter the net worth of Mark Zuckerberg : 545000000
That's not much!

In [ ]:
bike_price=int(input("Enter the Bike Cost Price :"))
total=0

if(bike_price > 100000):
  total = bike_price + (bike_price* (15/100))
elif(bike_price > 50000 and bike_price <= 100000 ):
  total = bike_price + (bike_price* (10/100))
elif(bike_price <= 50000 ):
  total = bike_price + (bike_price* (5/100))
print(total)

Enter the Bike Cost Price :5000
5250.0

In [ ]:
held_class=int(input("Number of classes held"))
attended_class=int(input("Number of classes attended."))

percentage=(attended_class/held_class)*100
print(percentage)

if(percentage > 75):
   print("You are eligibel for exam")
else:
    print("You are Not eligibel for exam")

Number of classes held90
Number of classes attended.68
75.55555555555556
You are eligibel for exam

//Medium

In [ ]:
age=int(input("Enter Your Age :"))
gender=input("Enter Your gender M/F :")
work_day=int(input("Enter How many days you work :"))

if age >= 18 and age < 30 and gender == "M":
  print("Daily Wages 700 and Number of days they work ",work_day,"are",(work_day*700))
elif age >= 18 and age < 30 and gender == "F":
  print("Daily Wages 750 and Number of days they work ",work_day,"are",(work_day*750))
elif age >= 30 and age <= 40 and gender == "M":
  print("Daily Wages 800 and Number of days they work ",work_day,"are",(work_day*800))
elif age >= 30 and age <= 40 and gender == "F":
  print("Daily Wages 850 and Number of days they work ",work_day,"are",(work_day*850))

Enter Your Age :20
Enter Your gender M/F :M
Enter How many days you work :4
Daily Wages 700 and Number of days they work  4 are 2800

In [ ]:
year=int(input("Enter a year :"))

if year%4==0:
  print("Entered year is leap year")
else:
    print("Entered year is not leap year")

//Hard

In [1]:
days=int(input("Enter Number of days Book taken : "))

if days<=5 :
  print("Till 5 days Charges :",days*2)
elif days >=6 and days <=10 :
  print("6 to 10 days Charges :",days*3)
elif days >=11 and days <=15 :
  print("11 to 15 days Charges :",days*4)
elif days >=15 :
  print("After 15 days Charges :",days*5)

Enter Number of days Book taken : 8
6 to 10 days 24

In [4]:
units=int(input("Enter Your Electric units  : "))

if units <= 100:
        cost = 0
        print(cost)
elif units <= 300:
        cost = 2 * (units - 100)
        print(cost)
else:
        cost = 2 * 200 + 5 * (units - 300)
        print(cost)

Enter Your Electric units  : 250
300