<a href="https://colab.research.google.com/github/Pritiathawale/01-project/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
even=[]
for x in range(2,21) :
  if x % 2 == 0 :
    even.append(x)

even.reverse()

for num in even :
  print(num," ")

20
18
16
14
12
10
8
6
4
2

In [6]:
for num in range(20,41,5):
  print(num, end=" ")

20 25 30 35 40

In [7]:
for num in range(1, 6):
        cube = num ** 3
        print(cube, end=" ")

1 8 27 64 125