<a href="https://colab.research.google.com/github/Pritiathawale/01-project/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
even=[]
for x in range(2,21) :
  if x % 2 == 0 :
    even.append(x)

even.reverse()

for num in even :
  print(num," ")

20
18
16
14
12
10
8
6
4
2

In [ ]:
for num in range(20,41,5):
  print(num, end=" ")

20 25 30 35 40

In [ ]:
n=20
while n<=40:
  print(n,end=" ")
  n=n+5

In [ ]:
for num in range(1, 6):
        cube = num ** 3
        print(cube, end=" ")

1 8 27 64 125

In [ ]:
n=1
while n<=5:
  print("cube ",n,"is ",n*n*n)
  n+=1

In [3]:
n=int(input("enter number :"))
fact=1
for i in range(1,(n+1)):
  fact=fact*iter
print(fact)

enter number :4
24

In [ ]:
n=int(input("enter number :"))
fact=1
while n>=1:
  fact=n*fact
  n=n-1
print(fact)

In [7]:
sum=0
while(10>0):
  no=int(input("enter number :"))
  if no==0:
    break
  sum=sum+no
print(sum)

0

Missioneries :-good people
missionaries_

In [12]:
print('\U0001F604')

ðŸ˜„